.advantages {
    padding: 150px 0;

    &__title {
        font-size: 30px;
        color: #0d0d0d;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    &__items {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        flex-wrap: wrap;
    }

    &__item {
        width: 235px;
        text-align: center;
        margin: 10px auto;
        padding: 5px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
        margin-bottom: 27px;
        line-height: 1;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        
        span {
            color: $main-color;
            text-transform: uppercase;
        }
    }
    &__icon_animated {
        animation: heartbeat 2s ease-in 7 normal none;
    }
}