.button {
    width: 150px;
    height: 30px;
    //padding: 9px 13px;
    border-radius: 5px;
    border: none;
    background-color: $main-color;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    &_main {
        margin-top: 68px;
        margin-bottom: 18px;
        /* padding: 18px 43px; */
        font-size: 16px;
        width: 300px;
        height: 50px;
    }
}

.button_submit {
    width: 100%;
    height: 55px;
}

.price__button {
    // padding: 13px 40px;
    width: 131px;
    height: 40px;    
}

.catalog__button {
    margin: 5px;
    transform:skew(-22deg);
    color: #6b6b6b;
    border: 1px solid #6b6b6b;
    background-color:transparent;
    width: 170px;
    height: 40px;
}

.catalog__button_active {
    background-color: $main-color;
    color: white;
}