@media (max-width: 991px) {
    .reviews {
        &__title {
            
            color: #0d0d0d;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
        }
        &__items {
            img {
                max-width: 100%;
                display: block;
                padding-left: 50px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header__official {
        display: none;
    }
    .promo__header {
        font-size: 36px;
    }
    .header__contacts {
        margin-left: 10px;
    }
    .header__phone {
        font-size: 17px;
    }
    .corousel {
        padding-bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        div {
            img.corousel__img {
                max-width: 60%;
                display: block;
                margin-left: 20%;
            }
        }
    }
    .catalog {
        &__title {
            font-size: 24px;
        }
        &__tab {
            font-size: 14px;
        }
    }
    div.footer__info {
        width: 400px;
        min-height: 220px;
        background-color: $main-color;
        padding: 40px 48px 30px;
        text-align: center;
    }
    address.footer__addr {
        font-size: 16px;
        margin-bottom: 20px;
    }
    a.footer__phone {
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    h2.reviews__title {
        font-size: 24px;        
    }
    .reviews__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            margin-bottom: 30px;
        }
    }
        
    
}

@media (max-width: 468px) {
    .promo {
        padding: 45px 13px;
    }

    .header {
        display: flex;
        flex-direction: column;
        &__official {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
        &__contacts {
            margin-top: 20px;
            text-align: center;
        }
    }

    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        h1 {
            font-size: 22px;
            text-align: center;
        }
        h2 {
            font-size: 16px;
            text-align: center;
        }
    }

    .advantages {
        padding: 38px 0;

        &__title {
            font-size: 18px;
        }
        &__items {
            margin-top: 20px;
        }
    }

    .consultation {
        padding: 50px 15px 50px;
        min-height: 0;
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 500;
            margin-top: 17px;
        }
        form {
            width: 287px;
            input {
                height: 40px;
            }
            .button_submit {
                height: 45px;
            }
        }
    }

    .corousel {
        min-height: 1px;
        padding-bottom: 50px;
        padding-top: 50px;
        div {
            img.corousel__img {
                max-width: 40%;
                display: block;
                margin-left: 30%;
            }
        }
    }
    
    .catalog {
        &__title {
            font-size: 20px;
        }
        &__tab {
            font-size: 10px;
        }
    }

    h2.reviews__title {
        font-size: 20px;        
    }
    
}